:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

img {
    max-width: 100%;
}

.wrapper {
    min-height: 100vh;
    word-break: break-word;
}

.wrapper,
.wrapper > .content {
    display: flex;
    flex-direction: column;
}

.wrapper > .content {
    flex-shrink: 0;
    flex-grow: 1;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.input-area {
    max-width: 500px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.input-area label {
    text-align: left;
    margin-bottom: 5px;
}

.input-area__input {
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
}
.input-area__output {
    margin-top: 15px;
    color: #fff;
    font-size: 16px;
}

.container {
    position: relative;
    min-width: 320px;
    /*padding: 0 20px;*/
    margin: 0 auto;
    width: 100%;
}
@media (min-width: 1025px) {
    .container {
        max-width: 1200px;
    }
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
    .input-area__input {
        border: 1px solid #000000;
        color: black;
    }
    .input-area__output {
        color: black;
    }
}
